header {
  padding: 50px 0;
  text-align: center;
  width: 100%;

  p {
    color: hsl(0, 0%, 67%);
    font-weight: 200;
    font-size: 55px;
    margin: 0;
  }

  h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 64px;
    margin: 0
  }

  h2 {
    color: hsl(0, 0%, 67%);
    font-size: 28px;
    font-weight: 400;
    margin: 0;
  }
}
