#dump-container {
  width: 95%;
  margin: 2em auto;
  max-width: 900px;

  .dump {
    width: 100%;
    padding: 2em 0;

    .demo, .explanation {
      display: inline-block;
    }
  }
}

.circle-button {
  width: 40px;
  line-height: 40px;
  text-align: center;
  height: 40px;
  border-radius: 50px;
  margin: 1.5em;
  transition: transform 100ms cubic-bezier(0.6, 0, 0.5, 1), box-shadow 233ms cubic-bezier(0.22, 0.44, 0.22, 1.2),border 100ms linear, color 100ms linear,background 100ms linear;
  border: 1px solid #d3d3d3;
  color: #d3d3d3;

  &:hover {
    box-shadow: 0 0 0 6px rgba(60,148,211,0.15);
    color: #3c94d3;
    background: #fff;
    border: 1px solid #3c94d3;
    cursor: default;
  }
}
