// imports
@import "compass/reset";
@import "partials/typography.scss";
@import "partials/animations.scss";
@import "partials/anchors.scss";
@import "partials/tags.scss";
@import "partials/header.scss";

* {
	box-sizing: border-box;
}

body
{
	background-color: #eee;
	color: #302c29;
	font-size: 1em;
}

a
{
	color: #302c29;
}

.top-border
{
	position: relative;
	height: 6px;
	width: 100%;
	z-index: 5;
}

.projects
{
	// see here: http://stackoverflow.com/questions/18265846/css-animation-delay-not-working
	opacity: 0;

	// KEEP IN POSITION RELATIVE!
	// Keeps it so that when h2 is hovered over
	// it doesn't overlap the next one
	.project
	{
		position: relative;
		-webkit-animation: bounceInLeft .5s ease-in 1s backwards;
		-moz-animation: bounceInLeft .5s ease-in 1s backwards;
		animation: bounceInLeft .5s ease-in 1s backwards;
	}

	// bring the margin back so the left side doesn't show during
	// the transform
	h2
	{
		display: inline-block;
		margin-left: -7px;
		transition: .5s;
		box-shadow: -1px 1px, -2px 2px, -3px 3px, -4px 4px, -5px 5px, -6px 6px, -7px 7px, -8px 8px, -9px 9px, -10px 10px;
	}

	h2:hover
	{
		transform: translate3d(6px, -7px, 0);
		transition: .15s;
	}

	h2:active
	{
		transform: translate3d(0, 7px, 0);
		transition: .1s;
	}

	a
	{
		display: block;
		margin-left: 9.5em;
		text-decoration: none;
		padding: 1.5em;
	}
}

.ready .projects
{
	opacity: 1;
}

footer
{
	padding: 1.5em;
}

@media (max-width: 67em)
{

	.tags
	{
		display: inline-block;
		position: absolute;
	}

	.tags .tag:first-child
	{
		margin-top: 1em;
	}

	.tag
	{
		display: block;
		padding: 0.5em 0.6em 0.5em 1.2em;
		font-size: 0.8em;
		margin: 0.3em 0;
	}
}

@media (max-width: 49em)
{

	.projects
	{
		a
		{
			margin-left: 7em;
			padding: 1.3em;
		}

		h2
		{
			font-size: 1.5em;
		}

		.tags
		{
			display: none;
		}
	}

}

@media (max-width: 35em)
{

	header {
	  padding: 30px 20px;

	  p {
	    font-size: 40px;
	  }

	  h1 {
	    font-size: 45px;
	  }

	  h2 {
	    font-size: 20px;
	  }
	}

	.projects
	{
		a
		{
			margin-left: 7em;
			padding: 1em;
		}

		h2
		{
			font-size: 1.3em;
		}
	}

}


@media (max-width: 25em)
{

	.projects
	{

		a
		{
			margin-left: 1em;
			padding: 1em;
		}

		h2
		{
			font-size: 1.3em;
		}
	}

}

@media (min-width: 85em)
{

	.projects
	{

		h4
		{
			font-size: 1.1em;
		}

		a
		{
			margin-left: 17em;
			padding: 1.3em;
		}

		h2
		{
			font-size: 1.7em;
		}
	}
}












