@import 'compass/reset';

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

body {
  opacity: 0;
  &.loaded {
    opacity: 1;
  }
}

.Aligner {
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-webkit-align-items: center;
-moz-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-webkit-justify-content: center;
-moz-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
max-height: 24em;
}

#trigger {
  max-width: 50%;

  i {
    width: 100%;
    text-align: center;
    margin: 50px 0;
  }
}

.slide {
  background-color: #f7505a;
  max-height: 800px;
  z-index: 1;
  box-shadow: inset 0 0 10px darken(#f7505a, 15%);

  h1 {
    font-weight: 900;
    font-size: 3.2em;
    color: white;
    text-shadow: 0px 4px 4px darken(#f7505a, 15%);
  }
}

#card {
  width: 95%;
  max-width: 500px;
  min-height: 500px;
  margin: 70px auto;
  font-size: 1.1em;
  line-height: 1.5em;
  font-weight: 300;
  color: darken(#9099A3, 5%);

  p {
    margin: 1em 0;
  }
  h2 {
    text-align: center;
    font-size: 1.6em;
    font-weight: 900;
    margin: 1em 0;
    color: darken(#9099A3, 8%);
  }

  span {
    display: block;
    width: 100%;
  }

  .right {
    text-align: right;
  }
}

footer {
  width: 10px;
  margin: 80px auto;

  .fa {
    color: #f7505a;
  }
}
