html, body {
  font-family: 'Source Sans Pro';
  font-size: 25px;
  line-height: 1.2em;
  margin: 0; padding: 0;
  height: 100%;
}
#demo {
  position: relative;
  height: auto;
  top: 40%;
  text-align: center;

  h1 {
    letter-spacing: -1px;
    font-weight: 300;
  }

  small {
    letter-spacing: normal;
    color: lighten(#9099A3, 15%);
    font-size: 16px;
    font-weight: 300;
    opacity: 0;
    transition: all 0.85s cubic-bezier(0.5, -0.035, 0.24, 1);

    a {
      color: darken(#9099A3, 5%);
      text-decoration: none;
      font-weight: 600;

      &:hover {
        color: #65d165;
      }
    }
  }
}
.typeout {
  color: #65d165;
}
.typeout:after {
  -webkit-animation: 0.7s blink step-end infinite;
  -moz-animation: 0.7s blink step-end infinite;
  -ms-animation: 0.7s blink step-end infinite;
  -o-animation: 0.7s blink step-end infinite;
  animation: 0.7s blink step-end infinite;
  content: '|';
  padding-left: 2px;
}
.typeout.typeout-complete:after {
  content: none;
}
@keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-ms-keyframes "blink" {
  from,to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-o-keyframes "blink" {
  from,to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
