button
{
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  color: inherit;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

body
{
  font: 16px 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #eee;
  color: #4d4d4d;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

#container
{
  width: 90%;
  max-width: 650px;
  margin: 50px auto;
  padding-bottom: 2px;
  border-radius: 3px;
}

#container > section
{
  margin-top: 50px;
}

.commands
{
  background: #fff;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
}

.command
{
  font-weight: 500;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
}

.command:last-child
{
  border-bottom: none;
}

.keystroke
{
  display: inline-block;
  width: 100px;
  text-align: center;
  border-right: 1px solid #ccc;
  font-family: Inconsolata, Helvetica, Arial;
}
.description
{
  display: inline-block;
  padding-left: 15px;
}

#container > section:last
{
  border-radius: 4px;
}

/*
*
* Sharing is caring
*
*/
header
{
  position: relative;
}

.sharing.is.caring
{
  position: absolute;
  top: 0;
  right: 0;
}


