$breakpoint: 750px;

* {
  box-sizing: border-box;
}

#walkway {
  width: 100%;
  height: 100%;
  background-color: #f39c12;
  font-family: 'Lato', 'serif';

  .half {
    width: 50%;
    height: 100%;
    float: left;

    @media screen and (max-width: $breakpoint) {
      width: 100%;
      height: 50%;
      float: none;
    }
  }

  .explain {
    position: relative;
    padding: 0 100px 0 40px;
    max-width: 600px;
    color: white;

    h1 {
      font-size: 2.8em;
      font-weight: 700;

      > span {
        font-weight: 300;
      }
    }

    p {
      font-size: 1.2em;
      line-height: 1.4em;
    }

    a {
      border: 1px solid #fff;
      padding: 6px 11px;
      color: #fff;
      height: 24px;
      line-height: 24px;
      border-radius: 14px;
      border: 1px solid darken(#fff, 2%);
      text-decoration: none;
    }
  }

  .center {
    position: relative;
    height: auto;
    top: 45%;
    -webkit-transform: translateY(-70%);
    transform: translateY(-70%);
  }

  #svg-wrap {
    @extend .center;
    padding: 75px;
    width: 100%;
    transform: translateY(-50%);
  }

  svg {
    path, line {
      stroke: #fff;
      stroke-width: 2px;
    }

    path {
      fill: transparent;
    }
  }
}
