header {
  padding: 50px;
  text-align: left;
  width: 100%;
  position: relative;
  height: 230px;

  p, h1, h2 {
    position: relative;
    z-index: 99;
  }

  p {
    font-weight: 200;
    font-size: 55px;
    margin: 0;
    color: darken(#eee, 30%);
  }

  h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 64px;
    margin: 0
  }

  h2 {
    color: darken(#eee, 30%);
    font-size: 28px;
    font-weight: 200;
    margin: 0;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}
