body {
  font-family: 'Raleway', serif;
}

h1, h2, h3, h4 , h5 , h6
{
	font-weight: 200;
}

.projects {
  h1, h2
  {
    text-transform: uppercase;
  }
}

.wordy {
  display: inline-block;
  border-bottom: 1px white dashed;
}

.wordy:hover {
  cursor: pointer;
}

h1
{
	font-size: 1.9em;
}

h2
{
	font-size: 1.7em;
}

