extends ./common/layout

block content
  div(class="container" style="")
      img(src="assets/images/heman.png" alt="ITS HE MAN")

  iframe(src="//www.youtube.com/embed/eh7lp9umG2I?rel=0&autoplay=1")

  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  script(src="scripts/vendor/vendor.min.js")
  script(src="scripts/heman.min.js")

